# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Client Build
client/dist/
client/dist-ssr/
client/.output
.tanstack/

# Database (MongoDB local daemon data)
server/data/
client/data/

# Server Uploads (Ignore user uploaded images, but keep directory structure)
server/uploads/*
!server/uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs/Editors & System Files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
db.json
